
html, body{
	background-color:#ffFFFF;
	text-align:center;
	font-family:verdana,sans-serif;
}

h1, p, button, ul {
	color:#000;
}

a {
	color:#65a5d1;
}
abbr {
	border:none;
}

ul {
	text-align:left;
	border:1px solid #fff;
	background-color:#ffffff;
	width:20%;
	margin:0 auto;
	list-style-type:circle;
	padding:0.5em 1em;
}
li[data-state=highlight] {
	color:black;
}

video {
	display:block;
	margin:0 auto;
	width: 80%    !important;
	height: auto   !important;

}

button {
	border:1px solid #000;
	padding:0.5em 1em;
	margin-top:1em;
	font-size:1em;
	cursor:pointer;
	background-color:rgb(255, 203, 106);
	font-variant:small-caps;
}
button:hover {
	border:1px solid #0a64a4;
}
button[disabled] {
	background-color:#aaa;
	cursor:auto;
}
button[disabled]:hover {
	border:1px solid red;
}

.msg {
	margin-bottom:1em;
}
.msg[data-state=hidden] {
	display:none;
}
.msg[data-state=show] {
	display:block;
}

.rec-status {
	color:red;
	margin-top:1em;
}
.rec-text{
	color:blue;
	font-size: x-large;
	margin-top:1em;
}
.rec-status span {
	margin-left:0.5em;
}

.div-a{
	align-content: left;
	align-self: center;
}